.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.content {
  margin: 0 auto;
  width: 100%;
}

.notification {
  flex: content;
  flex-direction: column;
  position: absolute !important;
  width: 300px !important;
  height: 50px !important;
  right: 20px !important;
  bottom: 20px !important;
  background-color: green;
  border-radius: 5px;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  opacity: 1;
  animation: fade 3.5s linear;
}

.notification.message {
  color: white;
  align-self: flex-end;
  text-align: center;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}